.container{
    margin: 0 14px;
}

.form{
    width: 100%;
    display: flex;
    gap: 14px;
}

.form input{
    width: 100%;
    height: 44px;
    border: 0;
    padding: 0 8px;
    border-radius: 6px;
    outline: none;
    background-color: #1f1d27;
    box-shadow: inset #222 0 0 6px;
    color: #fff;
}

.form button{
    background-color: #00000000;
}