.hide{
    display: none;
}

.container{
    margin: 0 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1f1d27;
    box-shadow: inset #222 0 0 6px;
    border-radius: 8px;
}

.form input{
    width: 100%;
    height: 44px;
    border: 0;
    outline: none;
    background-color: #1f1d27;
    color: #fff;
    border-radius: 8px;
    padding: 4px 8px;
}

.form button{
    background-color: #00000000;
    padding: 4px 8px;
    transition: 0.3s all ease;
}

.form button:hover{
    opacity: 0.7;
}

table{
    border-collapse: separate;
    border-spacing: 0 14px;
    width: 100%;
    table-layout: fixed;
}

table caption{
    font-size: 16px;
    margin: 0.5em 0 0.75em;
}

th{
    color: #FFF;
}

.tr{
    background-color: #1f1d27;
    box-shadow: 0 0 10px #121212;
    transition: 0.5s all ease;
}

.tr:hover{
    transform: scale(1.015);
}

td:first-child,
th:first-child{
    border-radius: 8px 0 0 8px;
}

td:last-child,
th:last-child{
    border-radius: 0 8px 8px 0;
}

table th,
table td{
    padding: 14px;
    text-align: center;
}

.tdLabel{
    font-weight: bold;
    font-size: 18px;
    color: #FFF;
}

.tdProfit{
    color: #12f98a;
}

.tdLoss{
    color: #f91257;
}

.buttonMore{
    background-color: #218bbd;
    padding: 8px 24px;
    border-radius: 8px;
    color: #FFF;
    width: 200px;
    font-weight: bold;
    transition: 0.3s all;
}

.buttonMore:hover{
    background-color: #30bdffe0;
}

.logo{
    width: 20px;
    height: 20px;
    transition: 1s all;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.2);
}

.name{
    display: flex;
    align-items: center;
    gap: 5px;
}


@media screen and (max-width: 600px){
    table thead{
        display: none;
    }

    table td{
        border-bottom: 1px solid #aaaaaa40;
        display: block;
        text-align: right;
        font-size: 14px;
    }

    table td::before{
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
    }

    td:first-child,
    th:first-child{
        border-radius: 0;
    }
    
    td:last-child,
    th:last-child{
        border-radius: 0;
    }

    .name img{
        margin-left: 10px;
    }
}